<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.kaushikDev.SimonGame" version = "1.0">
   
   <name>Simon Game</name>
   
   <description>
      Classic Simon Game!!
   </description>
   
   <author href = "https://codepen.io/Kaushik02/full/BKjBpw/" email = "piyush.kaushik02@gmail.com">
      KaushikDev
   </author>
   
   <preference name = "permissions" value = "none"/>
   
 <!--   <icon src = "res\icon\android\mipmap-ldpi\ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "res\icon\android\mipmap-mdpi\ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "res\icon\android\mipmap-hdpi\ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "res\icon\android\mipmap-xhdpi\ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "res\icon\android\mipmap-xxhdpi\ic_launcher.png"
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
-->
      
</widget>
